.App {
    text-align: center;
}

.swal2-html-container {
    display: flex;
    font-weight: 500;
    font-size: 20px !important;
    line-height: 31px;
    text-align: center;
    margin-top: 60px !important;
}
.swal2-actions {
    margin-bottom: 20px !important;
    font-size: 15px !important;
    width: 70px;
}
.swal2-popup {
    height: 250px;
}
.swal2-title {
    padding-top: 45px !important;
}

.MuiFormControlLabel-label {
    color: #333d41;
}
