.App {
    text-align: center;
}

.swal2-html-container {
    display: flex;
    font-weight: 500;
    font-size: 20px !important;
    line-height: 31px;
    text-align: center;
    margin-top: 60px !important;
}
.swal2-actions {
    margin-bottom: 20px !important;
    font-size: 15px !important;
    width: 70px;
}
.swal2-popup {
    height: 250px;
}
.swal2-title {
    padding-top: 45px !important;
}

.MuiFormControlLabel-label {
    color: #333d41;
}
.chartImg:hover {
    width: 16.875rem;
    z-index: 30;
    height: 23.75rem;
}
.movieInfo:hover {
    width: 266px;
    height: 120%;
}
.MuiMenuItem-root {
    color: #424242 !important;
    font-size: 0.7rem !important;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.8) !important;
}
.MuiSelect-icon {
    color: #fff !important;
}
.mainMovieImg:hover {
    width: 105%;
}
.ck-editor__editable {
    min-height: 46.125rem;
}
