.form {
    width: 650px;
    position: absolute;
    /* margin: -50 0 0 -50; */
    top: 100%;
    left: 30%;
    margin-top: 100px;
}
.signupFragment {
    position: relative;
}
button {
    text-align: center;
    width: 200px;
    display: inline-block;
}
.buttonDiv {
    margin-top: 30px;
    text-align: center;
}
#top {
    width: 200px;
    height: 37px;
    background: #cf5e53;
    flex: none;
    order: 0;
    flex-grow: 0;
    border-color: #cf5e53;
    margin-bottom: 30px;
}
.a {
    border: 1px solid pink;
}
